## Analysis of Bus Delay Data, 2021-2025
#### By Ella Feldman
#### Final project for Advanced Data Reporting, spring 2025

For my final project, I will be analyzing bus breakdown and delay data published by the Department of Education (DOE) on NYC OpenData. The data is available [here](https://data.cityofnewyork.us/Transportation/Bus-Breakdown-and-Delays/ez4e-fazm/about_data). I am using the data available through Monday, May 19.

I want to answer the following questions:

1. Of the four school years I am analyzing, which year had the most delays?
2. What was the average daily delay per year?
3. For the 2024-2025 school year, what was the most frequent delay length?
4. For the 2024-2025 school year, what was the most frequent reason for a delay?
5. For the 2024-2025 school year, what bus company was responsible for the most delays?
6. For the 2024-2025 school year, what was the average number of students on the school bus for each delay?
7. For the 2024-2025 school year, what was the most frequent run type to have delays or breakdowns?
8. For the 2024-2025 school year, what has been the daily average of delays per month?

In [481]:
## First, I'll import my libraries.

import pandas as pd

In [673]:
## Next, I'll run my display code to round to zero decimal places.

pd.options.display.float_format = '{:,.0f}'.format

In [675]:
## Now, I'll import my data.

df = pd.read_csv('feldman_busdelays.csv')

In [484]:
df

,School_Year,Run_Type,Reason,Schools_Serviced,Occurred_On,Boro,Bus_Company_Name,How_Long_Delayed,Number_Of_Students_On_The_Bus,Breakdown_or_Running_Late,School_Age_or_PreK
0,2022-2023,Special Ed AM Run,Heavy Traffic,"21468,21560,21907",09/12/2022 08:10:00 AM,Brooklyn,"BORO TRANSIT, INC.",16-30 Min,1,Running Late,School-Age
1,2022-2023,Special Ed AM Run,Heavy Traffic,12486,09/12/2022 08:25:00 AM,Bronx,PIONEER TRANSPORTATION CORP,16-30 Min,8,Running Late,School-Age
2,2022-2023,General Ed AM Run,Heavy Traffic,31044,09/21/2022 05:17:00 AM,Staten Island,PIONEER TRANSPORTATION CORP,16-30 Min,0,Running Late,School-Age
3,2022-2023,Special Ed AM Run,Other,"20685,21461",09/22/2022 06:15:00 AM,Brooklyn,PRIDE TRANSPORTATION (SCH AGE),61-90 Min,0,Running Late,School-Age
4,2022-2023,Special Ed AM Run,Heavy Traffic,"07401,07480",09/22/2022 06:15:00 AM,Bronx,"CONSOLIDATED BUS TRANSIT, INC.",31-45 Min,0,Running Late,School-Age
...,...,...,...,...,...,...,...,...,...,...,...
314261,2024-2025,Special Ed AM Run,Heavy Traffic,"08015,08530",05/19/2025 06:03:00 AM,Bronx,VAN TRANS LLC (B2192),0-15 Min,0,Running Late,School-Age
314262,2024-2025,Special Ed AM Run,Won`t Start,"27009,27067,27202",05/19/2025 05:50:00 AM,Queens,L & M BUS CORP (A),NaN,0,Breakdown,School-Age
314263,2024-2025,Special Ed AM Run,Heavy Traffic,11455,05/19/2025 06:04:00 AM,Bronx,VAN TRANS LLC (B2192),0-15 Min,0,Running Late,School-Age
314264,2024-2025,Special Ed AM Run,Other,"13067,13461,13507,13587,13655",05/19/2025 06:04:00 AM,Brooklyn,"BORO TRANSIT, INC.",16-30 Min,0,Running Late,School-Age
314265,2024-2025,Special Ed AM Run,Heavy Traffic,"07259,07643",05/19/2025 06:05:00 AM,Bronx,VAN TRANS LLC (B2192),0-15 Min,0,Running Late,School-Age

In [485]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314266 entries, 0 to 314265
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   School_Year                    314266 non-null  object
 1   Run_Type                       314257 non-null  object
 2   Reason                         314266 non-null  object
 3   Schools_Serviced               314266 non-null  object
 4   Occurred_On                    314266 non-null  object
 5   Boro                           314175 non-null  object
 6   Bus_Company_Name               314266 non-null  object
 7   How_Long_Delayed               297132 non-null  object
 8   Number_Of_Students_On_The_Bus  314266 non-null  int64
 9   Breakdown_or_Running_Late      314266 non-null  object
 10  School_Age_or_PreK             314266 non-null  object
dtypes: int64(1), object(10)
memory usage: 26.4+ MB

In [486]:
df['School_Year'].unique()

array(['2022-2023', '2023-2024', '2021-2022', '2024-2025'], dtype=object)

In [487]:
## Of the four school years I am analyzing, which year had the most delays?
## Let's see the value count per school year, since each entry is a breakdown or a delay.
df['School_Year'].value_counts()

School_Year
2022-2023    94651
2023-2024    84931
2021-2022    70179
2024-2025    64505
Name: count, dtype: int64

In [488]:
## That's interesting, but not super helpful because the 2024-25 school year ends on June 26. I need the daily average.
## First, I need to check what type of column Occured_On is.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314266 entries, 0 to 314265
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   School_Year                    314266 non-null  object
 1   Run_Type                       314257 non-null  object
 2   Reason                         314266 non-null  object
 3   Schools_Serviced               314266 non-null  object
 4   Occurred_On                    314266 non-null  object
 5   Boro                           314175 non-null  object
 6   Bus_Company_Name               314266 non-null  object
 7   How_Long_Delayed               297132 non-null  object
 8   Number_Of_Students_On_The_Bus  314266 non-null  int64
 9   Breakdown_or_Running_Late      314266 non-null  object
 10  School_Age_or_PreK             314266 non-null  object
dtypes: int64(1), object(10)
memory usage: 26.4+ MB

In [489]:
## It's an object. I need it to be a datetime.

df['Occurred_On'] = pd.to_datetime(df['Occurred_On'])

In [490]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314266 entries, 0 to 314265
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   School_Year                    314266 non-null  object
 1   Run_Type                       314257 non-null  object
 2   Reason                         314266 non-null  object
 3   Schools_Serviced               314266 non-null  object
 4   Occurred_On                    314266 non-null  datetime64[ns]
 5   Boro                           314175 non-null  object
 6   Bus_Company_Name               314266 non-null  object
 7   How_Long_Delayed               297132 non-null  object
 8   Number_Of_Students_On_The_Bus  314266 non-null  int64
 9   Breakdown_or_Running_Late      314266 non-null  object
 10  School_Age_or_PreK             314266 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 26.4+ MB

In [491]:
## Now I need to extract the date without the time.

df['date'] = df['Occurred_On'].dt.date

In [492]:
df

,School_Year,Run_Type,Reason,Schools_Serviced,Occurred_On,Boro,Bus_Company_Name,How_Long_Delayed,Number_Of_Students_On_The_Bus,Breakdown_or_Running_Late,School_Age_or_PreK,date
0,2022-2023,Special Ed AM Run,Heavy Traffic,"21468,21560,21907",2022-09-12 08:10:00,Brooklyn,"BORO TRANSIT, INC.",16-30 Min,1,Running Late,School-Age,2022-09-12
1,2022-2023,Special Ed AM Run,Heavy Traffic,12486,2022-09-12 08:25:00,Bronx,PIONEER TRANSPORTATION CORP,16-30 Min,8,Running Late,School-Age,2022-09-12
2,2022-2023,General Ed AM Run,Heavy Traffic,31044,2022-09-21 05:17:00,Staten Island,PIONEER TRANSPORTATION CORP,16-30 Min,0,Running Late,School-Age,2022-09-21
3,2022-2023,Special Ed AM Run,Other,"20685,21461",2022-09-22 06:15:00,Brooklyn,PRIDE TRANSPORTATION (SCH AGE),61-90 Min,0,Running Late,School-Age,2022-09-22
4,2022-2023,Special Ed AM Run,Heavy Traffic,"07401,07480",2022-09-22 06:15:00,Bronx,"CONSOLIDATED BUS TRANSIT, INC.",31-45 Min,0,Running Late,School-Age,2022-09-22
...,...,...,...,...,...,...,...,...,...,...,...,...
314261,2024-2025,Special Ed AM Run,Heavy Traffic,"08015,08530",2025-05-19 06:03:00,Bronx,VAN TRANS LLC (B2192),0-15 Min,0,Running Late,School-Age,2025-05-19
314262,2024-2025,Special Ed AM Run,Won`t Start,"27009,27067,27202",2025-05-19 05:50:00,Queens,L & M BUS CORP (A),NaN,0,Breakdown,School-Age,2025-05-19
314263,2024-2025,Special Ed AM Run,Heavy Traffic,11455,2025-05-19 06:04:00,Bronx,VAN TRANS LLC (B2192),0-15 Min,0,Running Late,School-Age,2025-05-19
314264,2024-2025,Special Ed AM Run,Other,"13067,13461,13507,13587,13655",2025-05-19 06:04:00,Brooklyn,"BORO TRANSIT, INC.",16-30 Min,0,Running Late,School-Age,2025-05-19
314265,2024-2025,Special Ed AM Run,Heavy Traffic,"07259,07643",2025-05-19 06:05:00,Bronx,VAN TRANS LLC (B2192),0-15 Min,0,Running Late,School-Age,2025-05-19

In [493]:
## Now, I need the total number of incidents per school year.
schoolyear = df_main.groupby('School_Year')
incident_counts = schoolyear.size()

In [494]:
incident_counts

School_Year
2021-2022    70179
2022-2023    94651
2023-2024    84931
2024-2025    64505
dtype: int64

In [651]:
## Checking the math.

70179 + 94651 + 84931 + 64505

314266

In [649]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314266 entries, 0 to 314265
Data columns (total 13 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   School_Year                    314266 non-null  object
 1   Run_Type                       314257 non-null  object
 2   Reason                         314266 non-null  object
 3   Schools_Serviced               314266 non-null  object
 4   Occurred_On                    314266 non-null  datetime64[ns]
 5   Boro                           314175 non-null  object
 6   Bus_Company_Name               314266 non-null  object
 7   How_Long_Delayed               297132 non-null  object
 8   Number_Of_Students_On_The_Bus  314266 non-null  int64
 9   Breakdown_or_Running_Late      314266 non-null  object
 10  School_Age_or_PreK             314266 non-null  object
 11  date                           314266 non-null  datetime64[ns]
 12  month                          314266 non-null  period[M]
dtypes: datetime64[ns](2), int64(1), object(9), period[M](1)
memory usage: 31.2+ MB

In [495]:
## Great! I'll save this as the answer to my first question.

q1 = incident_counts
q1

School_Year
2021-2022    70179
2022-2023    94651
2023-2024    84931
2024-2025    64505
dtype: int64

In [496]:
## Now I need to know how many unique school days there were per year.

unique_days = schoolyear['date'].nunique()

In [497]:
unique_days

School_Year
2021-2022    207
2022-2023    205
2023-2024    203
2024-2025    178
Name: date, dtype: int64

In [498]:
## If I divide the number of incidents by the number of unique days, I will get the average number of incidents per day for each school year.

incident_counts / unique_days

School_Year
2021-2022   339
2022-2023   462
2023-2024   418
2024-2025   362
dtype: float64

In [499]:
## I just want to double check one of the numbers to make sure it worked.

64505 / 178

362.3876404494382

In [500]:
## Worked! I'll save this data as the answer to my second question

q2 = incident_counts / unique_days

q2

School_Year
2021-2022   339
2022-2023   462
2023-2024   418
2024-2025   362
dtype: float64

In [501]:
## I'm concerned that the first dates on my df are from 2022. I'll organize by Occurred_On to see what's going on.

In [502]:
df.sort_values(by='Occurred_On', ascending=True)

,School_Year,Run_Type,Reason,Schools_Serviced,Occurred_On,Boro,Bus_Company_Name,How_Long_Delayed,Number_Of_Students_On_The_Bus,Breakdown_or_Running_Late,School_Age_or_PreK,date
53464,2021-2022,Pre-K/EI,Heavy Traffic,C270,2021-09-01 08:10:00,Brooklyn,L & M BUS CORP.,16-30 Min,6,Running Late,Pre-K,2021-09-01
110408,2021-2022,Pre-K/EI,Heavy Traffic,E219,2021-09-01 11:56:00,Bronx,"G.V.C., LTD.",16-30 Min,8,Running Late,Pre-K,2021-09-01
110409,2021-2022,Pre-K/EI,Other,E218,2021-09-01 13:00:00,Bronx,"G.V.C., LTD.",16-30 Min,7,Running Late,Pre-K,2021-09-01
48498,2021-2022,Pre-K/EI,Other,C244,2021-09-02 07:05:00,Brooklyn,L & M BUS CORP.,16-30 Min,0,Running Late,Pre-K,2021-09-02
48499,2021-2022,Pre-K/EI,Other,E004,2021-09-02 12:00:00,Brooklyn,L & M BUS CORP.,16-30 Min,2,Running Late,Pre-K,2021-09-02
...,...,...,...,...,...,...,...,...,...,...,...,...
314147,2024-2025,Special Ed AM Run,Mechanical Problem,"28117,28217",2025-05-19 15:06:00,Queens,PRIDE TRANSPORTATION (SCH AGE),NaN,8,Breakdown,School-Age,2025-05-19
314145,2024-2025,General Ed PM Run,Heavy Traffic,"11189,11683",2025-05-19 15:08:00,Bronx,PIONEER TRANSPORTATION CORP,16-30 Min,0,Running Late,School-Age,2025-05-19
314148,2024-2025,Special Ed PM Run,Heavy Traffic,"15854,20048,20519,20887",2025-05-19 15:10:00,Brooklyn,"BORO TRANSIT, INC.",16-30 Min,0,Running Late,School-Age,2025-05-19
314150,2024-2025,General Ed PM Run,Heavy Traffic,"07818,08138",2025-05-19 15:55:00,Bronx,PIONEER TRANSPORTATION CORP,16-30 Min,0,Running Late,School-Age,2025-05-19
314151,2024-2025,General Ed PM Run,Heavy Traffic,"07486,12613",2025-05-19 16:52:00,Bronx,PIONEER TRANSPORTATION CORP,0-15 Min,0,Running Late,School-Age,2025-05-19

In [503]:
## Great, the latest entries  are from today!

In [504]:
## The rest of my questions are just about this school year, so I'll make a new df.

df_25 = df[df['School_Year'] == '2024-2025']
df_25

,School_Year,Run_Type,Reason,Schools_Serviced,Occurred_On,Boro,Bus_Company_Name,How_Long_Delayed,Number_Of_Students_On_The_Bus,Breakdown_or_Running_Late,School_Age_or_PreK,date
249761,2024-2025,Pre-K/EI,Heavy Traffic,C195,2024-09-11 07:54:00,Bronx,"G.V.C., LTD.",16-30 Min,13,Running Late,Pre-K,2024-09-11
249762,2024-2025,Special Ed AM Run,Other,75029,2024-09-04 07:09:00,Nassau County,"THOMAS BUSES, INC. (B2321)",61-90 Min,0,Running Late,School-Age,2024-09-04
249763,2024-2025,Special Ed AM Run,Heavy Traffic,02282,2024-09-10 06:20:00,Manhattan,"BORO TRANSIT, INC.",31-45 Min,0,Running Late,School-Age,2024-09-10
249764,2024-2025,Pre-K/EI,Heavy Traffic,C616,2024-09-04 08:13:00,Bronx,"G.V.C., LTD.",0-15 Min,10,Running Late,Pre-K,2024-09-04
249765,2024-2025,Pre-K/EI,Heavy Traffic,C107,2024-10-24 06:45:00,Brooklyn,L & M BUS CORP.,31-45 Min,0,Running Late,Pre-K,2024-10-24
...,...,...,...,...,...,...,...,...,...,...,...,...
314261,2024-2025,Special Ed AM Run,Heavy Traffic,"08015,08530",2025-05-19 06:03:00,Bronx,VAN TRANS LLC (B2192),0-15 Min,0,Running Late,School-Age,2025-05-19
314262,2024-2025,Special Ed AM Run,Won`t Start,"27009,27067,27202",2025-05-19 05:50:00,Queens,L & M BUS CORP (A),NaN,0,Breakdown,School-Age,2025-05-19
314263,2024-2025,Special Ed AM Run,Heavy Traffic,11455,2025-05-19 06:04:00,Bronx,VAN TRANS LLC (B2192),0-15 Min,0,Running Late,School-Age,2025-05-19
314264,2024-2025,Special Ed AM Run,Other,"13067,13461,13507,13587,13655",2025-05-19 06:04:00,Brooklyn,"BORO TRANSIT, INC.",16-30 Min,0,Running Late,School-Age,2025-05-19
314265,2024-2025,Special Ed AM Run,Heavy Traffic,"07259,07643",2025-05-19 06:05:00,Bronx,VAN TRANS LLC (B2192),0-15 Min,0,Running Late,School-Age,2025-05-19

A reminder of the rest of my questions:

3. For the 2024-2025 school year, what was the most frequent delay length?
4. For the 2024-2025 school year, what was the most frequent reason for a delay?
5. For the 2024-2025 school year, what bus company was responsible for the most delays?
6. For the 2024-2025 school year, what was the average number of students on the school bus for each delay?
7. For the 2024-2025 school year, what was the most frequent run type to have delays or breakdowns?
8. For the 2024-2025 school year, what has been the daily average of delays per month?

In [506]:
## Let's start with delay length:

df_25['How_Long_Delayed'].nunique()

5

In [507]:
df_25['How_Long_Delayed'].unique()

array(['16-30 Min', '61-90 Min', '31-45 Min', '0-15 Min', '46-60 Min',
       nan], dtype=object)

In [508]:
df_25['How_Long_Delayed'].value_counts()

How_Long_Delayed
61-90 Min    19636
16-30 Min    17451
31-45 Min    12340
0-15 Min      6707
46-60 Min     5148
Name: count, dtype: int64

In [657]:
## That's my answer. Let's save it.

q3 = df_25['How_Long_Delayed'].value_counts()

In [659]:
## It'd be nice to have these numbers as a percentage.
## I need the total number of incidents in my df.

df_25.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64505 entries, 249761 to 314265
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   School_Year                    64505 non-null  object
 1   Run_Type                       64503 non-null  object
 2   Reason                         64505 non-null  object
 3   Schools_Serviced               64505 non-null  object
 4   Occurred_On                    64505 non-null  datetime64[ns]
 5   Boro                           64501 non-null  object
 6   Bus_Company_Name               64505 non-null  object
 7   How_Long_Delayed               61282 non-null  object
 8   Number_Of_Students_On_The_Bus  64505 non-null  int64
 9   Breakdown_or_Running_Late      64505 non-null  object
 10  School_Age_or_PreK             64505 non-null  object
 11  date                           64505 non-null  object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 6.4+ MB

In [706]:
## How many null entries are there? This will be helpful to know for my chart.

64505-61282

3223

In [665]:
## There are 61282 non-null entries for delay lengths.

(q3/61282)*100

How_Long_Delayed
61-90 Min   32
16-30 Min   28
31-45 Min   20
0-15 Min    11
46-60 Min    8
Name: count, dtype: float64

In [667]:
## Checking my math.

32 + 28 + 20 + 11 + 8

99

In [687]:
q3_percent = (q3/61282)*100
q3_percent

How_Long_Delayed
61-90 Min   32
16-30 Min   28
31-45 Min   20
0-15 Min    11
46-60 Min    8
Name: count, dtype: float64

In [689]:
## I want this rounded to two decimal places.

q3_percent.map('{:.2f}'.format)

How_Long_Delayed
61-90 Min    32.04
16-30 Min    28.48
31-45 Min    20.14
0-15 Min     10.94
46-60 Min     8.40
Name: count, dtype: object

In [691]:
## Checking my math.

32.04 + 28.48 + 20.14 + 10.94 + 8.40

100.0

In [693]:
## Great! Now, checking most frequent delay reason.
df_25['Reason'].unique()

array(['Heavy Traffic', 'Other', 'Mechanical Problem', 'Won`t Start',
       'Flat Tire', 'Accident', 'Problem Run', 'Weather Conditions',
       'Delayed by School', 'Late return from Field Trip'], dtype=object)

In [511]:
df_25['Reason'].value_counts()

Reason
Heavy Traffic                  45427
Other                          11430
Problem Run                     2617
Mechanical Problem              2102
Weather Conditions               734
Late return from Field Trip      701
Won`t Start                      484
Delayed by School                374
Flat Tire                        318
Accident                         318
Name: count, dtype: int64

In [512]:
q4 = df_25['Reason'].value_counts()

In [513]:
## 5. For the 2024-2025 school year, what bus company was responsible for the most delays?

df_25['Bus_Company_Name'].unique()

array(['G.V.C., LTD.', 'THOMAS BUSES, INC. (B2321)', 'BORO TRANSIT, INC.',
       'L & M BUS CORP.', 'PIONEER TRANSPORTATION CORP',
       'ANOTHER RIDE INC.', 'ALINA SERVICES CORP.',
       'LOGAN BUS COMPANY INC.', 'LITTLE RICHIE BUS SERVICE',
       'I & Y TRANSIT CORP', 'SELBY TRANSPORTATION',
       'DON THOMAS BUSES, INC.', 'PRIDE TRANSPORTATION (SCH AGE)',
       'CHILDREN`S TRANS INC', 'PHILLIPS BUS SERVICE',
       'L & M BUS CORP (A)', 'SNT BUS INC',
       'QUALITY TRANSPORTATION CORP.', 'LITTLE LISA BUS CO. INC.',
       'ALLIED TRANSIT CORP.', 'G.V.C. LTD. (B2192)',
       'HOYT TRANSPORTATION CORP.', 'CAREFUL BUS SERVICE INC (B2192)',
       'LORINDA ENTERPRISES, LTD.', 'CAREFUL BUS',
       'DON THOMAS BUSES, INC. (B2321)', 'EMPIRE STATE BUS CORP.',
       'CONSOLIDATED BUS TRANSIT, INC.', 'PHILLIPSBUSSERVICE', 'GVC LTD',
       'MAR-CAN TRANSPORT CO. INC (B2192)',
       'FIRST STEPS TRANS INC. (B2192)', 'EMPIRE CHARTER SERVICE INC',
       'THOMAS BUSES INC (B2192)', 'NYC SCHOOL BUS UMBRELLA SERVICES',
       'PHILLIP BUS CORP (B2192)', 'VAN TRANS LLC (B2192)',
       'PHILLIPBUSSERVICE', 'ALL AMERICAN SCHOOL BUS CORP.',
       'LITTLE LINDA BUS CO.,INC.', 'CHILDREN`S TRANS INC. (B2321)',
       'LEESEL TRANSPORTATION CORP (B2192)', 'LORISSA BUS SERVICE INC.',
       'GRANDPA`S BUS CO., INC.'], dtype=object)

In [514]:
df_25['Bus_Company_Name'].value_counts()

Bus_Company_Name
PRIDE TRANSPORTATION (SCH AGE)        19043
PIONEER TRANSPORTATION CORP            8191
HOYT TRANSPORTATION CORP.              3723
ALLIED TRANSIT CORP.                   3275
BORO TRANSIT, INC.                     3043
EMPIRE CHARTER SERVICE INC             2598
L & M BUS CORP (A)                     2063
L & M BUS CORP.                        2027
CAREFUL BUS                            1738
DON THOMAS BUSES, INC. (B2321)         1688
PHILLIPS BUS SERVICE                   1588
G.V.C. LTD. (B2192)                    1547
LITTLE RICHIE BUS SERVICE              1388
EMPIRE STATE BUS CORP.                 1216
SNT BUS INC                            1131
LOGAN BUS COMPANY INC.                 1119
LORINDA ENTERPRISES, LTD.              1098
G.V.C., LTD.                           1090
QUALITY TRANSPORTATION CORP.            869
PHILLIP BUS CORP (B2192)                813
ALINA SERVICES CORP.                    792
CONSOLIDATED BUS TRANSIT, INC.          791
VAN TRANS LLC (B2192)                   663
SELBY TRANSPORTATION                    479
MAR-CAN TRANSPORT CO. INC (B2192)       479
THOMAS BUSES, INC. (B2321)              461
CAREFUL BUS SERVICE INC (B2192)         325
LITTLE LISA BUS CO. INC.                317
DON THOMAS BUSES, INC.                  272
THOMAS BUSES INC (B2192)                187
FIRST STEPS TRANS INC. (B2192)          167
CHILDREN`S TRANS INC                     73
I & Y TRANSIT CORP                       57
NYC SCHOOL BUS UMBRELLA SERVICES         56
CHILDREN`S TRANS INC. (B2321)            39
ALL AMERICAN SCHOOL BUS CORP.            33
ANOTHER RIDE INC.                        19
LEESEL TRANSPORTATION CORP (B2192)       19
LITTLE LINDA BUS CO.,INC.                10
PHILLIPSBUSSERVICE                        9
LORISSA BUS SERVICE INC.                  3
GRANDPA`S BUS CO., INC.                   3
GVC LTD                                   2
PHILLIPBUSSERVICE                         1
Name: count, dtype: int64

In [515]:
q5 = df_25['Bus_Company_Name'].value_counts()

In [516]:
## 6. For the 2024-2025 school year, what was the average number of students on the school bus?
## I think number of students on the bus is already an integer, but I'll double check.

df_25.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64505 entries, 249761 to 314265
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   School_Year                    64505 non-null  object
 1   Run_Type                       64503 non-null  object
 2   Reason                         64505 non-null  object
 3   Schools_Serviced               64505 non-null  object
 4   Occurred_On                    64505 non-null  datetime64[ns]
 5   Boro                           64501 non-null  object
 6   Bus_Company_Name               64505 non-null  object
 7   How_Long_Delayed               61282 non-null  object
 8   Number_Of_Students_On_The_Bus  64505 non-null  int64
 9   Breakdown_or_Running_Late      64505 non-null  object
 10  School_Age_or_PreK             64505 non-null  object
 11  date                           64505 non-null  object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 6.4+ MB

In [517]:
df_25['Number_Of_Students_On_The_Bus'].mean()

2.4346174715138362

In [518]:
q6 = df_25['Number_Of_Students_On_The_Bus'].mean()

In [519]:
## 7. For the 2024-2025 school year, what was the most frequent run type to have delays or breakdowns?
df_25['Run_Type'].value_counts()

Run_Type
Special Ed AM Run        37594
Special Ed PM Run        10004
General Ed AM Run         7063
Pre-K/EI                  6409
General Ed PM Run         2957
General Ed Field Trip      255
Special Ed Field Trip      221
Name: count, dtype: int64

In [520]:
q7 = df_25['Run_Type'].value_counts()

In [521]:
## Last question! 8. For the 2024-2025 school year, what has been the daily average of delays per month?
## This will be tricky. I'm asking for help from ChatGPT.
## First, I'm converting 'date' to datetime format.

df['date'] = pd.to_datetime(df['date'])

In [522]:
## Now, I'm adding a column for month.

df['month'] = df['date'].dt.to_period('M')

In [523]:
df_25

,School_Year,Run_Type,Reason,Schools_Serviced,Occurred_On,Boro,Bus_Company_Name,How_Long_Delayed,Number_Of_Students_On_The_Bus,Breakdown_or_Running_Late,School_Age_or_PreK,date
249761,2024-2025,Pre-K/EI,Heavy Traffic,C195,2024-09-11 07:54:00,Bronx,"G.V.C., LTD.",16-30 Min,13,Running Late,Pre-K,2024-09-11
249762,2024-2025,Special Ed AM Run,Other,75029,2024-09-04 07:09:00,Nassau County,"THOMAS BUSES, INC. (B2321)",61-90 Min,0,Running Late,School-Age,2024-09-04
249763,2024-2025,Special Ed AM Run,Heavy Traffic,02282,2024-09-10 06:20:00,Manhattan,"BORO TRANSIT, INC.",31-45 Min,0,Running Late,School-Age,2024-09-10
249764,2024-2025,Pre-K/EI,Heavy Traffic,C616,2024-09-04 08:13:00,Bronx,"G.V.C., LTD.",0-15 Min,10,Running Late,Pre-K,2024-09-04
249765,2024-2025,Pre-K/EI,Heavy Traffic,C107,2024-10-24 06:45:00,Brooklyn,L & M BUS CORP.,31-45 Min,0,Running Late,Pre-K,2024-10-24
...,...,...,...,...,...,...,...,...,...,...,...,...
314261,2024-2025,Special Ed AM Run,Heavy Traffic,"08015,08530",2025-05-19 06:03:00,Bronx,VAN TRANS LLC (B2192),0-15 Min,0,Running Late,School-Age,2025-05-19
314262,2024-2025,Special Ed AM Run,Won`t Start,"27009,27067,27202",2025-05-19 05:50:00,Queens,L & M BUS CORP (A),NaN,0,Breakdown,School-Age,2025-05-19
314263,2024-2025,Special Ed AM Run,Heavy Traffic,11455,2025-05-19 06:04:00,Bronx,VAN TRANS LLC (B2192),0-15 Min,0,Running Late,School-Age,2025-05-19
314264,2024-2025,Special Ed AM Run,Other,"13067,13461,13507,13587,13655",2025-05-19 06:04:00,Brooklyn,"BORO TRANSIT, INC.",16-30 Min,0,Running Late,School-Age,2025-05-19
314265,2024-2025,Special Ed AM Run,Heavy Traffic,"07259,07643",2025-05-19 06:05:00,Bronx,VAN TRANS LLC (B2192),0-15 Min,0,Running Late,School-Age,2025-05-19

In [524]:
df_25.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64505 entries, 249761 to 314265
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   School_Year                    64505 non-null  object
 1   Run_Type                       64503 non-null  object
 2   Reason                         64505 non-null  object
 3   Schools_Serviced               64505 non-null  object
 4   Occurred_On                    64505 non-null  datetime64[ns]
 5   Boro                           64501 non-null  object
 6   Bus_Company_Name               64505 non-null  object
 7   How_Long_Delayed               61282 non-null  object
 8   Number_Of_Students_On_The_Bus  64505 non-null  int64
 9   Breakdown_or_Running_Late      64505 non-null  object
 10  School_Age_or_PreK             64505 non-null  object
 11  date                           64505 non-null  object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 6.4+ MB

In [525]:
## Period[M] is a type of value that indicates a period of time grouped by month.
## Now, I need the number of delays per day.

df_25.groupby(['date']).size()

date
2024-09-03     55
2024-09-04     59
2024-09-05    515
2024-09-06    271
2024-09-09    365
             ...
2025-05-13    322
2025-05-14    342
2025-05-15    367
2025-05-16    412
2025-05-19    389
Length: 178, dtype: int64

In [526]:
## Now, I want to store it in a new dataframe.

daily_delays = df_25.groupby(['date']).size().reset_index(name='delays_per_day')

In [527]:
daily_delays

           date  delays_per_day
0    2024-09-03              55
1    2024-09-04              59
2    2024-09-05             515
3    2024-09-06             271
4    2024-09-09             365
..          ...             ...
173  2025-05-13             322
174  2025-05-14             342
175  2025-05-15             367
176  2025-05-16             412
177  2025-05-19             389

[178 rows x 2 columns]

In [528]:
## Now, I need to add my month column in.

daily_delays['month'] = pd.to_datetime(daily_delays['date']).dt.to_period('M')
daily_delays

           date  delays_per_day    month
0    2024-09-03              55  2024-09
1    2024-09-04              59  2024-09
2    2024-09-05             515  2024-09
3    2024-09-06             271  2024-09
4    2024-09-09             365  2024-09
..          ...             ...      ...
173  2025-05-13             322  2025-05
174  2025-05-14             342  2025-05
175  2025-05-15             367  2025-05
176  2025-05-16             412  2025-05
177  2025-05-19             389  2025-05

[178 rows x 3 columns]

In [529]:
## Now, I need the average per month.

daily_delays.groupby('month')['delays_per_day'].mean()

month
2024-09   366
2024-10   395
2024-11   398
2024-12   357
2025-01   422
2025-02   335
2025-03   328
2025-04   298
2025-05   362
Freq: M, Name: delays_per_day, dtype: float64

In [530]:
## That's question 8!

q8 = daily_delays.groupby('month')['delays_per_day'].mean()

## Answers

#### 1. Of the four school years I am analyzing, which year had the most delays?

In [533]:
q1

School_Year
2021-2022    70179
2022-2023    94651
2023-2024    84931
2024-2025    64505
dtype: int64

Answer: 2022-2O23 — though remember that the 2024-2025 school year still has over a month to go!

#### 2. What was the average daily delay per year?

In [536]:
q2

School_Year
2021-2022   339
2022-2023   462
2023-2024   418
2024-2025   362
dtype: float64

#### 3. For the 2024-2025 school year, what was the most frequent delay length?

In [538]:
q3

How_Long_Delayed
61-90 Min    19636
16-30 Min    17451
31-45 Min    12340
0-15 Min      6707
46-60 Min     5148
Name: count, dtype: int64

In [695]:
q3_percent

How_Long_Delayed
61-90 Min   32
16-30 Min   28
31-45 Min   20
0-15 Min    11
46-60 Min    8
Name: count, dtype: float64

In [700]:
q3_percent.map('{:.2f}'.format)

How_Long_Delayed
61-90 Min    32.04
16-30 Min    28.48
31-45 Min    20.14
0-15 Min     10.94
46-60 Min     8.40
Name: count, dtype: object

Answer: 61-90 Min

#### 4. For the 2024-2025 school year, what was the most frequent reason for a delay?

In [541]:
q4

Reason
Heavy Traffic                  45427
Other                          11430
Problem Run                     2617
Mechanical Problem              2102
Weather Conditions               734
Late return from Field Trip      701
Won`t Start                      484
Delayed by School                374
Flat Tire                        318
Accident                         318
Name: count, dtype: int64

Answer: Heavy Traffic

#### 5. For the 2024-2025 school year, what bus company was responsible for the most delays?

In [544]:
q5

Bus_Company_Name
PRIDE TRANSPORTATION (SCH AGE)        19043
PIONEER TRANSPORTATION CORP            8191
HOYT TRANSPORTATION CORP.              3723
ALLIED TRANSIT CORP.                   3275
BORO TRANSIT, INC.                     3043
EMPIRE CHARTER SERVICE INC             2598
L & M BUS CORP (A)                     2063
L & M BUS CORP.                        2027
CAREFUL BUS                            1738
DON THOMAS BUSES, INC. (B2321)         1688
PHILLIPS BUS SERVICE                   1588
G.V.C. LTD. (B2192)                    1547
LITTLE RICHIE BUS SERVICE              1388
EMPIRE STATE BUS CORP.                 1216
SNT BUS INC                            1131
LOGAN BUS COMPANY INC.                 1119
LORINDA ENTERPRISES, LTD.              1098
G.V.C., LTD.                           1090
QUALITY TRANSPORTATION CORP.            869
PHILLIP BUS CORP (B2192)                813
ALINA SERVICES CORP.                    792
CONSOLIDATED BUS TRANSIT, INC.          791
VAN TRANS LLC (B2192)                   663
SELBY TRANSPORTATION                    479
MAR-CAN TRANSPORT CO. INC (B2192)       479
THOMAS BUSES, INC. (B2321)              461
CAREFUL BUS SERVICE INC (B2192)         325
LITTLE LISA BUS CO. INC.                317
DON THOMAS BUSES, INC.                  272
THOMAS BUSES INC (B2192)                187
FIRST STEPS TRANS INC. (B2192)          167
CHILDREN`S TRANS INC                     73
I & Y TRANSIT CORP                       57
NYC SCHOOL BUS UMBRELLA SERVICES         56
CHILDREN`S TRANS INC. (B2321)            39
ALL AMERICAN SCHOOL BUS CORP.            33
ANOTHER RIDE INC.                        19
LEESEL TRANSPORTATION CORP (B2192)       19
LITTLE LINDA BUS CO.,INC.                10
PHILLIPSBUSSERVICE                        9
LORISSA BUS SERVICE INC.                  3
GRANDPA`S BUS CO., INC.                   3
GVC LTD                                   2
PHILLIPBUSSERVICE                         1
Name: count, dtype: int64

Answer: PRIDE TRANSPORTATION (SCH AGE)

#### 6. For the 2024-2025 school year, what was the average number of students on the school bus for each delay?

In [547]:
q6

2.4346174715138362

#### 7. For the 2024-2025 school year, what was the most frequent run type to have delays or breakdowns?

In [549]:
q7

Run_Type
Special Ed AM Run        37594
Special Ed PM Run        10004
General Ed AM Run         7063
Pre-K/EI                  6409
General Ed PM Run         2957
General Ed Field Trip      255
Special Ed Field Trip      221
Name: count, dtype: int64

Answer: Special Ed AM Runs

#### 8. For the 2024-2025 school year, what has been the daily average of delays per month?

In [552]:
q8

month
2024-09   366
2024-10   395
2024-11   398
2024-12   357
2025-01   422
2025-02   335
2025-03   328
2025-04   298
2025-05   362
Freq: M, Name: delays_per_day, dtype: float64

This analysis gave me one more question: What is the most frequent delay time for those Special Ed AM Runs?

In [554]:
special_ed_am = df_25[df_25['Run_Type'] == 'Special Ed AM Run']

In [555]:
special_ed_am['How_Long_Delayed'].value_counts()

How_Long_Delayed
61-90 Min    12365
16-30 Min    10841
31-45 Min     5100
0-15 Min      4828
46-60 Min     2515
Name: count, dtype: int64

In [556]:
## Is that consistent with the overall length of delays?

q3

How_Long_Delayed
61-90 Min    19636
16-30 Min    17451
31-45 Min    12340
0-15 Min      6707
46-60 Min     5148
Name: count, dtype: int64

In [697]:
## It is.

I'm curious about the reason for the delays too.

In [558]:
special_ed_am['Reason'].value_counts()

Reason
Heavy Traffic                  26401
Other                           7051
Problem Run                     1673
Mechanical Problem              1227
Weather Conditions               397
Won`t Start                      318
Flat Tire                        211
Accident                         143
Delayed by School                107
Late return from Field Trip       66
Name: count, dtype: int64

In [559]:
q4

Reason
Heavy Traffic                  45427
Other                          11430
Problem Run                     2617
Mechanical Problem              2102
Weather Conditions               734
Late return from Field Trip      701
Won`t Start                      484
Delayed by School                374
Flat Tire                        318
Accident                         318
Name: count, dtype: int64

In [560]:
## Pretty consistent.

That concludes my data analysis, which will inform my final reporting project for Advanced Data Reporting, spring 2025. Thanks for reading!